.onlineOrOfflinePay{
	padding: 0 0.3rem;
}
.item p{
	line-height: 0.28rem;
	font-size: 0.28rem;
	color: #181a1f;
	margin-bottom: 0.34rem;
}
.item>div span{
	float: left;
	font-size: 0.24rem;
	color: #91959e;
	padding: 0.14rem 0.58rem;
	border: 1px solid #e5e5e5;
	margin-right: 0.2rem;
}
.item>div span.active{
	color: #e34445;
	border-color: #e34445;
}
.payMethods{
	margin: 0.4rem 0 0.84rem 0;
}
.comment{
	line-height: 0.62rem;
	font-size: 0.24rem;
	color: #92969c;
}




















