.placeOrder{
	background: url(../../img/public/top_shadow.png) repeat-x;
	background-size: auto 0.2rem;
}
.placeOrder>a{
	display: block;
}
.receiveAddress{
	display: table;
	width: 100%;
	padding: 0.46rem 0.2rem 0.46rem 0.28rem;
	border-bottom: 1px solid #E5E5E5;
}
.receiveAddress .left{
	display: table-cell;
	width: 0.6rem;
	text-align: left;
	vertical-align: middle;
}
.receiveAddress .left>img{
	vertical-align: middle;
	width: 0.3rem;
	height: 0.4rem; 
}
.receiveAddress .center .receiver{
	width: 100%;
	line-height: 0.72rem;
	font-size: 0.28rem;
	color: #181A1F;
}
.receiveAddress .center p{
	line-height: 0.32rem;
	font-size: 0.24rem;
	color: #636688;
}
.mark{
	position: relative;
	top: -0.02rem;
	font-size: 0.2rem;
	color: #e34445;
	padding: 0.02rem 0.12rem;
	border: 1px solid #e34445;
	border-radius: 2px;
	margin-left: 0.1rem;
}
.receiveAddress .center .receiver>div{
	float: left;
}
.receiveAddress .center .receiver>div.phoneNumber{
	float: right;
}
.receiveAddress .right{
	display: table-cell;
	width: 0.4rem;
	text-align: right;
	vertical-align: middle;
}
.receiveAddress .right>img{
	vertical-align: middle;
	width: 0.14rem;
	height: 0.25rem;
}

.placeOrder .orderInfos{
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
	padding: 0.5rem 0.3rem;
}
.infos{
	height: 1.64rem;
	margin-bottom: 0.76rem;
}

.placeOrder .orderInfos .infosPic{
	display: table-cell;
	width: 1.7rem;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.placeOrder .orderInfos .infosPic>img{
	width: 1.64rem;
	vertical-align: middle;
}
.placeOrder .orderInfos .infosTxt{
	display: table-cell;
	position: relative;
	width: 5.2rem;
	padding-left: 0.12rem;
	height: 1.64rem;
}
.placeOrder .orderInfos .infosTxt .goodsName{
	line-height: 0.44rem;
	font-family: "Helv";
	font-size: 0.34rem;
	color: #181a1f;
}
.placeOrder .orderInfos .infosTxt .goodsInfos{
	height: 0.72rem;
	line-height: 0.36rem;
	font-size: 0.24rem;
	color: #63666b;
}
.placeOrder .orderInfos .infosTxt p{
	line-height: 0.3rem;
	font-size: 0.24rem;
	color: #181A1F;
	margin-top: 0.12rem;
}
.placeOrder .orderInfos .infosTxt p>span{
	font-family: "Helv";
	font-size: 0.28rem;
}

.service{
	line-height: 0.42rem;
	font-size: 0.28rem;
	color: #181a1f;
	padding: 0.28rem 0.2rem 0.28rem 0.24rem;
	border-bottom: 1px solid #E5E5E5;
}
.service .left{
	float: left;
}
.service .right{
	float: right;
	background: url(../../img/public/array_right.png) no-repeat right;
	background-size: 0.14rem 0.25rem;
	padding-right: 0.42rem;
}

.service .right.invoice{
	color: #92969c;
}

.placeOrder .commodityInfo{
	border-bottom: 1px solid #e5e5e5;
	padding: 0.22rem 0.6rem 0.22rem 0.24rem;
}
.placeOrder .commodityInfo>div{
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.28rem;
	color: #1A1A1A;
}
.placeOrder .commodityInfo>div>span{
	float: right;
}
.placeOrder .paymentRequired{
	text-align: right;
	line-height: 0.8rem;
}
.placeOrder .paymentRequired>span{
	color: #e34445;
}

.placeOrder .foot{
	width: 100%;
	height: 0.95rem;
	margin-top: -2px;
}
.placeOrder .footer{
	position: fixed;
	z-index: 999;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.94rem;
	padding-left: 0.24rem;
	border-top: 1px solid #e5e5e5;
}
.placeOrder .footer>div{
	height: 0.94rem;
	line-height: 0.94rem;
	font-size: 0.32rem;
	color: #181A1F;
}
.placeOrder .footer>div>span{
	color: #e34445;
}
.placeOrder .footer>div.subOrder{
	width: 2.68rem;
	height: 0.94rem;
	text-align: center;
	line-height: 0.94rem;
	font-size: 0.3rem;
	color: #fff;
	background: #E34445;
}